Django==1.9.8
requests==2.10.0
django-bootstrap3==7.0.1
gunicorn==19.6.0

# Hotfix: use custom fork until the Habitica API v3 is officially supported
# habitica==0.0.13
git+https://github.com/passuf/habitica