{% extends "wunderhabit/base.html" %}
{% load i18n %}

{% block body %}
    <div class="page-header">
        {% blocktrans with wunderlist=request.user.wunderlist.email habitica=request.user.habitica.email %}
            <h1>WunderHabit</h1>
            <p class="lead">
                Level up in <a href="https://habitica.com">Habitica</a> by completing todo's in
                <a href="https://wunderlist.com">Wunderlist</a>.
            </p>
        {% endblocktrans %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>{% trans "Contact" %}</h2>
            <p>Feel free to contact me if you have any questions regarding WunderHabit.</p>
            <ul>
                <li>
                    Email:
                    <script>document.write('<' + 'a' + ' ' + 'h' + 'r' + 'e' + 'f' + '=' + "'" + 'm' + '&' + '#' + '9' + '7' + ';' + 'i' + 'l' + '&' + '#' + '1' + '1' + '6' + ';' + '&' + '#' +
                            '1' + '1' + '1' + ';' + '&' + '#' + '5' + '8' + ';' + 'w' + '%' + '&' + '#' + '5' + '5' + ';' + '5' + 'n' + '&' + '#' + '1' + '0' + '0' + ';' + '&' +
                            '#' + '1' + '0' + '1' + ';' + '&' + '#' + '3' + '7' + ';' + '7' + '&' + '#' + '5' + '0' + ';' + 'h' + '&' + '#' + '9' + '7' + ';' + 'b' + 'i' + '%' +
                            '&' + '#' + '5' + '5' + ';' + '4' + '%' + '&' + '#' + '5' + '2' + ';' + '&' + '#' + '4' + '8' + ';' + 'p' + '%' + '6' + '1' + 's' + '%' + '7' + '3' +
                            'u' + 'f' + '&' + '#' + '4' + '6' + ';' + 'c' + 'h' + "'" + '>' + 'w' + '&' + '#' + '1' + '1' + '7' + ';' + '&' + '#' + '1' + '1' + '0' + ';' + '&' +
                            '#' + '1' + '0' + '0' + ';' + 'e' + '&' + '#' + '1' + '1' + '4' + ';' + '&' + '#' + '1' + '0' + '4' + ';' + '&' + '#' + '9' + '7' + ';' + 'b' + 'i' +
                            '&' + '#' + '1' + '1' + '6' + ';' + '&' + '#' + '6' + '4' + ';' + 'p' + 'a' + 's' + '&' + '#' + '1' + '1' + '5' + ';' + 'u' + '&' + '#' + '1' + '0' +
                            '2' + ';' + '&' + '#' + '4' + '6' + ';' + 'c' + '&' + '#' + '1' + '0' + '4' + ';' + '<' + '/' + 'a' + '>');</script>
                </li>
                <li>
                    Twitter: <a href="https://twitter.com/Passuf">@Passuf</a>
                </li>
                <li>
                    GitHub: <a href="https://github.com/passuf">passuf</a>
                </li>
                <li>
                    GitHub Repository: <a href="https://github.com/passuf/WunderHabit">https://github.com/passuf/WunderHabit</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock body %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.stateButton').on('click', function () {
                var $btn = $(this).button('loading');
            })
        });
    </script>
{% endblock javascript %}