{% extends "wunderhabit/base.html" %}
{% load i18n %}{% load bootstrap3 %}{% load humanize %}{% load static %}

{% block body %}
    <div class="page-header">
        {% blocktrans with wunderlist=request.user.wunderlist.email habitica=request.user.habitica.email %}
            <h1>WunderHabit</h1>
            <p class="lead">
                Up-scores your habits on
                <a href="https://habitica.com" data-toggle="tooltip" data-placement="bottom" title="{{ habitica }}">
                    Habitica
                </a>
                when you complete tasks in selected
                <a href="https://wunderlist.com" data-toggle="tooltip" data-placement="bottom" title="{{ wunderlist }}">
                    Wunderlist
                </a>
                lists.
            </p>
        {% endblocktrans %}
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>{% trans "Your Connected Lists" %}</h3>
            {% url 'add' as add_connection %}
            {% if connections %}
                <table class="table table-striped">
                    <tr>
                        <th>{% trans "Todo List" %}</th>
                        <th>{% trans "Habit" %}</th>
                        <th>{% trans "Tasks Completed" %}</th>
                        <th>{% trans "Last Activity" %}</th>
                        <th>{% trans "Options" %}</th>
                    </tr>
                    {% for connection in connections %}
                        <tr>
                            <td>{{ connection.list_title }}</td>
                            <td>{{ connection.habit_title }}</td>
                            <td>{{ connection.tasks_completed }}</td>
                            <td>
                                {% if connection.last_upscored %}
                                    {{ connection.last_upscored|naturaltime }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td><a href="{% url 'delete' connection_id=connection.id %}" class="text-danger"><i
                                    class="fa fa-times"></i> {% trans "Remove" %}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% blocktrans %}
                    <p>
                        You do not have any connections yet.
                    </p>
                {% endblocktrans %}
            {% endif %}

            <br>

            <form action="{% url 'add' %}" method="post" class="form-inline" id="add_connection">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="{% trans "Create Connection" %}"
                       class="btn btn-primary btn-sm stateButton"
                       data-loading-text="{% trans "Creating Connection..." %}"/>
            </form>
            <br>
            <p>
                Add a connection by selecting a list from Wunderlist and a habit from Habitica.
            </p>
        </div>
    </div>

    {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-md-8">
                <h3>{% trans "Statistics" %}</h3>
                <p>{% trans "Users: " %} {{ total_users }}</p>
                <p>{% trans "Connections: " %} {{ total_connections }}</p>
                <p>{% trans "Tasks Completed: " %} {{ tasks_completed }}</p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <h3>{% trans "Settings" %}</h3>
            <p>
                {% url 'logout' as logout_url %}
                {% blocktrans %}
                    <a href="{{ logout_url }}" class="btn btn-default btn-sm">Log out</a>
                {% endblocktrans %}
            </p>
            <p>
                <a href="{% url 'test_authentication' %}" class="btn btn-default btn-sm stateButton"
                   data-loading-text="{% trans "Testing connection, please wait..." %}">
                    {% trans "Test connection to Wunderlist and Habitica" %}
                </a>
            </p>


            <p>
                {% url 'delete_account' as delete_account_url %}
                {% blocktrans %}
                    <a href="{{ delete_account_url }}" class="text-danger">Delete Account</a>
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock body %}


{% block css %}
    {# Select2 CSS #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
{% endblock css %}


{% block javascript %}
    {# Select2 JS #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_list_id').select2({
                placeholder: "{% trans "Select a list..." %}"
            });
            $('#id_habit_id').select2({
                placeholder: "{% trans "Select a habit..." %}"
            });
        });
    </script>

    {# Stateful Buttons #}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $.fn.isValid = function () {
                return this[0].checkValidity()
            };
            $('.stateButton').on('click', function () {
                var $btn = $(this).button('loading');
                if (!$('#add_connection').isValid()) {
                    // Reset button if form is not valid
                    $btn.button('reset')
                }
            });
        });
    </script>
{% endblock javascript %}