{% extends "wunderhabit/base.html" %}
{% load i18n %}

{% block body %}
    <div class="page-header">
        {% blocktrans with wunderlist=request.user.wunderlist.email habitica=request.user.habitica.email %}
            <h1>WunderHabit</h1>
            <p class="lead">
                Up-scores your habits on
                <a href="https://habitica.com" data-toggle="tooltip" data-placement="bottom" title="{{ habitica }}">
                    Habitica
                </a>
                when you complete tasks in selected
                <a href="https://wunderlist.com" data-toggle="tooltip" data-placement="bottom" title="{{ wunderlist }}">
                    Wunderlist
                </a>
                lists.
            </p>
        {% endblocktrans %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>{% trans "Delete Account" %}</h2>
            <p>{% trans "Are you sure you want to delete your WunderHabit account and all connections between Wunderlist and Habitica?" %}</p>
            <p>{% trans "Your Wunderlist account and Habitica account are not affected." %}</p>
            <br>
            <form action="{% url 'delete_account' %}" method="post">
                {% csrf_token %}
                <a href="{% url 'dashboard' %}" class="btn btn-default btn-sm">{% trans "Cancel" %}</a>
                <input type="submit" class="btn btn-danger btn-sm stateButton" value="{% trans "Delete Account" %}"
                       data-loading-text="{% trans "Please wait..." %}"/>
            </form>
        </div>
    </div>

{% endblock body %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.stateButton').on('click', function () {
                var $btn = $(this).button('loading');
            })
        });
    </script>
{% endblock javascript %}